<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends "base.html" %}

        {% block content %}
 

        <h1>{{ projects.project_name }}</h1>
        <h4>{{ projects.author }}</h4>
        <h4>{{ projects.title }}</h4>
        <h4>{{ projects.about }}</h4>
        <h4>{{ projects.date_manufactured }}</h4><hr>
        
        <a href="{% url "edit" projects.pk %}">Edit</a>
 

    {% endblock content %}

</body>
</html>